option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  PORT
    value:  8080
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  VAULT_ADDR
    value:  https://amossvault.emory.edu:8200
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  VAULT_TOKEN
    value:  f6a79077-c664-b2fe-68d5-6c9527c21586
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  GARMIN_KEY
    value:  88248b5f-aa2f-4e45-8867-8c46c0509494
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  GARMIN_SECRET
    value:  B3vTNv9LXvtt7lFcZDocfwntsZsiknNf11U